body {
  min-height: 100vh;
  background: url(hp-bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#content {
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

ul {
  color: #e7e5e4;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 0;
}

ul li,
.order-btn {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: inherit;
  letter-spacing: 0.04em;
  font-weight: 600;
}

ul li:hover {
  cursor: pointer;
  translate: 3px;
  color: #f97316;
}

.main {
  color: #e7e5e4;
}

.main p {
  width: 40%;
  font-weight: 500;
  line-height: 1.5em;
  font-style: italic;
}

.order-btn {
  background-color: #ea580c;
  border: 0;
  border-radius: 5%;
  padding: 5px 10px;
  font-size: 0.9em;
}

.order-btn:hover {
  scale: 1.08;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #c2410c;
}
