* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(hp-bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#content {
  min-height: 100vh;
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.order-btn {
  background-color: #ea580c;
  border: 0;
  border-radius: 5%;
  padding: 5px 10px;
  font-size: 0.9em;
}

.order-btn:hover {
  scale: 1.08;
  transition-duration: 0.5s;
  cursor: pointer;
  background-color: #c2410c;
  color: #022c22;
}
